# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
venv/
.env/
.envrc
.venv/

# VS Code settings
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Test and coverage
.coverage
htmlcov/
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Misc
*.sqlite3
*.db